.c2a{
  height: calc(100vh - 90px); //90 is the height of the header
  .c2a__background-img {
    position: absolute;
    top: 90px; //90 is the height of the header
    left: 0px;
    z-index: -2;
    width: 100%;
    overflow: hidden;
  }

  .c2a__focus {
    width: 30vw;
    height: 30vw;
    position: absolute;
    bottom: 10vw;
    right: 10vw;
    float: right;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 50%;
    .c2a__focus__title {
      margin: 5% auto;
    }
    .c2a__focus__caption {
      margin: 5% auto;
    }
    .c2a__focus__btn {
      margin: 5% auto auto;
    }
  }
}
