.c2a{
  background-image: url("../assets/landing-page-background.jpg");
  background-repeat: no-repeat;
  background-size: 100vw;
  height: calc(.5469 * 100vw);//.5469 is the height ratio of the bacgkround img //calc(100vh - 90px); //90 is the height of the header
  max-height: calc(100vh);
  position: relative;
  .c2a__background-img {
    position: absolute;
    top: 90px; //90 is the height of the header
    left: 0px;
    z-index: -2;
    width: 100%;
    overflow: hidden;
  }

  .c2a__focus {
    width: 30vw;
    height: 30vw;
    position: absolute;
    float: right;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 50%;
    right: 15%;
    bottom: 10%;
    text-align: center;
    .c2a__focus__title, .c2a__focus__caption {
      margin: 5% auto;
    }

    .c2a__focus__btn {
      margin: 5% auto auto;
    }
  }
}
