.component {

  &.is-top {
    padding-top: 20px;
  }
  background: white;
  width: 100%;
  margin: 40px auto;
  .component__title {
    margin: 40px auto;
  }
  .component__body {
    width: 90%;
    max-width: 1250px;
    margin: 40px auto;
  }
  .component__double-col-section {
    margin: 20px auto;
    display: flex;
    justify-content: space-around;
    position: relative;
    .component__double-col-section__img-group {
      max-width: 90%;
      width: 400px;
      // height: 338px;
      margin: auto;

    .component__double-col-section__img-group__img{
      width: 100%
    }

      .component__double-col-section__img-group__desc {
        text-align: center;
        font-size: .8rem
      }
  }

    .component__double-col-section__text-group {
      width: 450px;
      max-width: 90vw;
      margin: 0px auto;
      text-align: left;

      .component__double-col-section__text-group__title {

      }

      .component__double-col-section__text-group__desc {
        width: inherit;
        max-width: inherit;

      }
    }
  }

  .component__single-section {
    width: 90%;
    max-width: 1000px;
    margin: auto;
    text-align: center;

    .component__single-section__text {
      width: 100%;
      margin: auto;
      font-size: 1rem;
      font-weight: 300;
    }

    .component__single-section__img-group {
      margin: 20px auto;
      width: 100%;

      .component__single-section__img-group__img {
        width: inherit;
      }

      .component__single-section__img-group__desc {

      }

    }
  }
}
