
@media(max-width: 767px) {

}

@media(min-width: 768px) {
  .footer-text.is-contact {
    display: none;
  }

}
.footer {
  background-color: #F2F2F2;
  padding-top: 20px;
  padding-bottom: 10px;

  .mediaLinks {
    text-align: center;

    img {
      width: 35px;
      height: 35px;
      margin: auto 5%;
    }
  }

  .footer-text {
    font-weight: 300;
    text-align: center;
    &.is-contact {
      font-size: 1rem;
      letter-spacing: .1em;
      text-indent: .1em;

    }
    &.is-copyright {
      font-size: .8em;
      letter-spacing: .08em;
      text-indent: .08em;
    }
  }

}
