@media(max-width: 767px) {
  .book-now__contact {
    display: none;
  }
  display: none;
}

@media(min-width: 768px) {

}

.book-now {
  margin: 40px auto;
  .book-now__contact {
    margin: auto 0px;

    .book-now__contact__information-form {

      span {
        font-size: .8rem;
        font-weight: 300;
        white-space: pre-wrap;
        letter-spacing: .1em;
        color: #3D3D3D;
        line-height: 1.5em;
        padding: .2em 1em
      }

      .book-now__contact__information-form__section {
        text-align: left;
        margin: 20px auto;

        .book-now__contact__information-form__section__img {
          vertical-align: middle;
          &.is-mail {
            width: 30px
          }
          &.is-phone {
            width: 20px;
            margin-left: 5px;
          }
        }
      }
      .book-now__contact__information-form__text {
        text-align: left;
        padding: 0px;
        margin-left: 20px;
        color: #3D3D3D;
        font-weight: 300;
        vertical-align: middle;
        font-size: 1.2rem;
        letter-spacing: .08em;
        line-height: 1em;



      }

      .book-now__contact__information-form__subtext {
        margin: 10px auto 10px 50px;
        text-align: left;
        font-size: .8rem;
        letter-spacing: .05em;
        font-weight: 400;
        line-height: 1em;
      }
    }
  }
};
